<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811295228384-qr9rdn3suj9v2q5dtts1gn21mk16uun4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811295228384-qr9rdn3suj9v2q5dtts1gn21mk16uun4</string>
	<key>API_KEY</key>
	<string>AIzaSyDDsZARZ0A5DRjRAXMZLc0I3ZSfLGS-ByA</string>
	<key>GCM_SENDER_ID</key>
	<string>811295228384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eastesh.tictactoe</string>
	<key>PROJECT_ID</key>
	<string>tictactoemacos-c1105</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoemacos-c1105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811295228384:ios:1c73a6a62a9b5e6522eb85</string>
	<key>DATABASE_URL</key>
	<string>https://tictactoemacos-c1105-default-rtdb.firebaseio.com</string>
</dict>
</plist>